/* Custom styles */

/* Give the card header and footer a background image */
.card-header, .card-footer {
	background-image: url(/static/img/banner.png);
	background-size: cover;
	color: #fcd204;
	font-weight: bold;
}
