{% extends "base.html" %}
{% import 'fruit.html' as fruit %}
{% block header %}
The Fruit Machine is
{% endblock %}
{% block content %}
{{ fruit.icons(7, 'inline-icon') }}
<dl>
	<dt>writer, concept, designer</dt>
	<dd>J. Dymphna Coy</dd>
	<dt>hacker</dt>
	<dd>David Leaman</dd>
	<dt>science consultant</dt>
	<dd>Sarah Nyberg</dd>
	<dt>booth babe</dt>
	<dd>Ben Brock</dd>
	<dt>Icons from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> (<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>) by</dt>
	<dd><a href="http://www.freepik.com" title="Freepik">Freepik</a></dd>
	<dd><a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a></dd>
</dl>
{{ fruit.icons(7, 'inline-icon') }}
{% endblock %}
{% block footer %}
<a href="/coda" class="btn btn-success btn-lg btn-block">Coda</a>
{% include 'reset.html' %}
{% endblock %}
