{% extends "base.html" %}
{% block header %}
{% endblock %}
{% block content %}
<form method="post" action="/submit/{{ user_id }}" enctype="multipart/form-data">
<div class="row">
	<div class="col-12 form-group">
		<p>
		Next, we’re going to take a picture. For the most accurate 
		results, please do not smile, and remove your glasses.
		</p>
		<input type="file" class="form-control" accept="image/*" capture="camera" name="portrait" required/>
	</div>
	<div class="col-12 form-group">
		<input type="submit" class="btn btn-primary" value="Continue"/>
	</div>
</div>
</form>
{% endblock %}
{% block footer %}
{% include 'reset.html' %}
{% endblock %}
