{% extends "base.html" %}
{% block header %}
Great!  Let’s start with a few true or false questions.  If you 
aren’t sure which to answer, just go with whichever feels best.
{% endblock %}
{% block content %}
<form action="/submit/{{ user_id }}">
<div class="row">
	<div class="col-12 form-group">
		<label>
			{{ question['question'] }}
		</label>
	</div>
{% for response in question['responses'] %}
	<div class="col-6">
		<input type="submit" class="btn btn-primary" name="{{ question['id'] }}" value="{{ response }}"/>
	</div>
{% endfor %}
</div>
</form>
{% endblock %}
{% block footer %}
{% if qcount >= 5 %}
<form action="/submit/{{ user_id }}">
	<button type="submit" name="cancel" class="btn btn-success btn-lg btn-block">I'm done with this test</button>
</form>
{% endif %}
{% include 'reset.html' %}
{% endblock %}
