{% extends "base.html" %}
{% block content %}
<p>Hello, {{ user_name }}.</p>
<form method="post" action="/question/1">
<div class="row">
	<div class="col-12 form-group">
		<input type="hidden" name="id" value="{{ user_id }}"/>
		<input type="hidden" name="name" value="{{ user_name }}"/>
		<p>Upload a photo of yourself to continue. Please
		remove glasses, hats, false moustaches and other items
		that might obscure your face.</p>
		<input type="file" accept="image/*" capture="camera" name="portrait"/>
	</div>
	<div class="col-12 form-group">
		<input type="submit" class="btn btn-primary" name="selfie" value="Continue"/>
	</div>
</div>
</form>
{% include 'reset.html' %}
{% endblock %}
