{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-12">
		<p>Survey complete</p>
		<p>Your identity is:</p>
		<dl>
			<dt>Name</dt>
			<dd>{{ user['name'] }}</dd>
			<dt>Sexuality</dt>
			<dd>{{ user['sexuality'] }}</dd>
			<dt>Gender</dt>
			<dd>{{ user['gender'] }}</dd>
		</dl>
	</div>
<pre>
{{ user }}
</pre>
</div>
<form action="/debrief">
	<button type="submit" class="btn btn-success btn-lg btn-block">What the hell was that?</button>
</form>
{% include 'reset.html' %}
{% endblock %}
