{% extends "base.html" %}
{% block header %}
Survey complete
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-6">
		<img src="{{ user['portrait'] }}" style="height: 250px;width: 100%;object-fit: contain;"/>
	</div>
	<div class="col-6">
		<p>Your identity is:</p>
		<dl>
			<dt>Name</dt>
			<dd>{{ user['name'] }}</dd>
			<dt>Sexuality</dt>
			<dd>{{ user['sexuality'] }}</dd>
			<dt>Gender</dt>
			<dd>{{ user['gender'] }}</dd>
		</dl>
	</div>
<!--
<pre>
{{ user }}
</pre>
-->
</div>
{% endblock %}
{% block footer %}
<form action="/debrief">
	<button type="submit" class="btn btn-success btn-lg btn-block">What the hell was that?</button>
</form>
{% include 'reset.html' %}
{% endblock %}
